@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
  color: black
}

body {
  background-color: rgb(245,245,245);
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.text-shadow {
  text-shadow: 0 0 10px rgba(0,0,0,0.9);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #3563E9;
}

/* Toastify */
.Toastify__toast {
  background: #3563E9 !important;
  color: #fff !important;
}

.Toastify__toast--error .Toastify__toast-body svg {
  fill: #ff0000 !important;
}

.Toastify__toast--error .Toastify__progress-bar {
  background: #ff0000 !important;
}

.Toastify__toast--warning .Toastify__toast-body svg {
  fill: #FFA500 !important;
}

.Toastify__toast--warning .Toastify__progress-bar {
  background: #FFA500 !important;
}

.Toastify__toast--success .Toastify__toast-body svg {
  fill: #3cdf3c !important;
}

.Toastify__toast--success .Toastify__progress-bar {
  background: #3cdf3c !important;
}

.Toastify__toast--info .Toastify__toast-body svg {
  fill: #ffffff !important;
}

.Toastify__toast--info .Toastify__progress-bar {
  background: #ffffff !important;
}

.Toastify__close-button {
  color: #fff !important;
}